<p>
    The 18xx Route Calculator is an aid for the 18xx family of board games (e.g. <a href="https://boardgamegeek.com/boardgame/17405/1846-race-midwest" target="_blank">1846: The Race for the Midwest</a>), to make route calculations easier and faster in-game.
</p>
<p>
    Find more info on the project's <a href="https://github.com/Auzzy/18xx-routes-web" target="_blank">GitHub page</a>, including <a href="https://github.com/Auzzy/18xx-routes-web/issues" target="_blank">bug and improvement tracking</a> and a <a href="https://github.com/Auzzy/18xx-routes-web/wiki" target="_blank">changelist</a>.
</p>
<p>
    You can contact me at <a href="https://boardgamegeek.com/user/auzzy" target="_blank">auzzy on BGG</a> or <a href="https://www.reddit.com/user/metalnut4" target="_blank">metalnut4 on Reddit</a>.
</p>
<h3>Notable Features</h3>
<ul>
    <li>Import / export board and railroads with validation</li>
    <li>Auto-saves board and railroads locally</li>
    <li>Keyboard friendly
        <ul>
            <li>Tab through board and railroads</li>
            <li>WASD through the board</li>
            <li>Tab through the modals</li>
            <li>ENTER to select</li>
            <li>Ctrl + ENTER to save a modal</li>
        </ul>
    </li>
</ul>
