{% extends "layout.html" %}

{% block body %}
<div style="font-size: 2rem; font-family: inherit; font-weight: 500;">18xx Route Calculator</div>
<p>
    I'm sorry, but the game you navigated to ({{ g.game_name }}) is currently unsupported. If you'd like to request support, please file an issue on the GitHub project: <a href="https://github.com/Auzzy/18xx-routes-web/" target="_blank">https://github.com/Auzzy/18xx-routes-web/</a>.
</p>
<p>
    <a href="{{ url_for('game_picker') }}">Go to Game Selection</a>
</p>
{% endblock %}