$("#calculate-dropdown").on("show.bs.dropdown", function () {
    $("#calculate-dropdown").removeAttr("data-selected");
    $("#calculate-dropdown-menu").empty();

    var railroadsTable = getRailroadsAsTable();
    for (index in railroadsTable) {
        var row = railroadsTable[index];
        if (railroadRowReady(row)) {
            $("#calculate-dropdown-menu")
                .append($("<a></a>")
                    .addClass("dropdown-item")
                    .attr("href", "#")
                    .attr("data-name", row[0])
                    .text(row[0])
                    .click(function(e) {
                        $("#calculate-dropdown").attr("data-selected", $(e.target).attr("data-name"));

                        $("#best-routes-total").empty();
                        $("#best-routes-name").text($("#calculate-dropdown").attr("data-selected"));

                        $("#config-tabs").find(".active").removeClass("active");
                        $("#config-tabs-content").find(".active").removeClass("active show");
                        $("#calculate-tab-content").addClass("active show").show();

                        calculate();
                    }));
        }
    }
});

function cancelCurrentJob() {
    var jobId = $("#calculate-tab-content").attr("data-job-id");
    if (jobId !== undefined) {
        $.post("{{ url_for('cancel_calculate_request') }}", {jobId: jobId});
        $("#calculate-tab-content").removeAttr("data-job-id");
        toggleEnableInput(true);
    }
}

// Since calculate isn't truly a tab, we instead key off when other tabs are shown.
$('#config-tabs').on('show.bs.tab', function() {
    cancelCurrentJob();

    var routesCanvas = $("#routes-canvas").get(0);
    routesCanvas.getContext('2d').clearRect(0, 0, routesCanvas.width, routesCanvas.height);
});

function getTrains(row) {
    var trainCells = row.slice(1, 5).filter(train => !isEmpty(train));
    return trainCells.length > 0 ? trainCells.join(",") : null
}

function toggleCities(self) {
    $("#calculate-result .cityPath").toggle();
    var hidden = $("#calculate-result .cityPath").css("display") === "none";
    localStorage.hideCityPaths = hidden;
    if (hidden) {
        $(self).text("Show cities");
    } else {
        $(self).text("Hide cities");
    }
}

function requestAndDisplayRoutes(jobId) {
    $.get("{{ url_for('calculate_result') }}", {jobId: jobId})
        .done(function(resultJson) {
            if (!jQuery.isEmptyObject(resultJson)) {
                if (resultJson.hasOwnProperty("jobId")) {
                    setTimeout(requestAndDisplayRoutes, 1000, resultJson["jobId"]);
                } else {
                    $("#calculate-result").empty();
                    if ("routes" in resultJson) {
                        $("<ul />")
                            .attr("id", "route-list")
                            .appendTo($("#calculate-result"));
                        if (!Object.keys(resultJson["routes"]).length) {
                            $("<li />")
                                .text("No valid routes were found for the given configuration and railroad.")
                                .appendTo($("#route-list"));
                        } else {
                            var hideCityPaths = localStorage.hideCityPaths === "true";

                            $("#calculate-result")
                                .prepend($("<a></a>")
                                    .text(hideCityPaths ? "Show cities": "Hide cities")
                                    .attr("href", "#")
                                    .click(function() {
                                        toggleCities(this, false);
                                    }));

                            for (trainInfo in resultJson["routes"]) {
                                var trainRouteInfo = resultJson["routes"][trainInfo];
                                var routeDisplay = $("<li />")
                                    .append($("<div></div>")
                                        .css("font-weight", "bold")
                                        .text(trainRouteInfo[0] + ": " + trainRouteInfo[1].join(", ") + " = " + trainRouteInfo[2]));

                                var cityPath = $("<div></div>").addClass("cityPath");
                                for (cityValueIndex in trainRouteInfo[3]) {
                                    var cityValue = trainRouteInfo[3][cityValueIndex];
                                    cityPath
                                        .append($("<div></div>")
                                            .text("-> " + cityValue[0] + " [" + cityValue[1] + "]"));
                                }

                                if (hideCityPaths) {
                                    cityPath.hide();
                                }

                                $("#route-list")
                                    .append(routeDisplay)
                                    .append(cityPath);
                            }

                            var routesTotal = resultJson["routes"]
                                .map(trainRouteInfo => trainRouteInfo[2])
                                .reduce((accum, value) => accum + value);
                            $("#best-routes-total").text(` = ${routesTotal}`);

                            drawRoutesOnMap(resultJson["routes"]);
                        }
                    } else if ("error" in resultJson) {
                        $("<div />")
                            .css("color", "red")
                            .text(resultJson["error"]["message"])
                            .appendTo($("#calculate-result"));
                    }

                    toggleEnableInput(true);
                }
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            toggleEnableInput(true);

            alert(errorThrown);
        });
}

function calculate() {
    if (!readyToCalculate()) {
        return;
    }

    cancelCurrentJob();

    toggleEnableInput(false);
    // The user should always be able to switch railroads mid-calculation, to
    // correct their mistake if they clicked the wrong railroad.
    $("#calculate-dropdown button").prop("disabled", false);

    $("#calculate-result").empty();
    var routesCanvas = $("#routes-canvas").get(0);
    routesCanvas.getContext('2d').clearRect(0, 0, routesCanvas.width, routesCanvas.height);

    $("<div />")
        .addClass("spinner")
        .css("width", "50px")
        .css("height", "50px")
        .css("margin", "auto")
        .appendTo($("#calculate-result"));

    var postData = {
        "railroads-json": JSON.stringify(getRailroadsAsTable()),
        "removed-railroads-json": JSON.stringify(getRemovedRailroads()),
        "private-companies-json": JSON.stringify(getPrivateCompaniesAsTable()),
        "board-state-json": JSON.stringify(getTilesAsTable()),
        "railroad-name": $("#calculate-dropdown").attr("data-selected")
    }
    $.post("{{ url_for('calculate') }}", postData)
        .done(function(resultJson) {
            $("#calculate-tab-content").attr("data-job-id", resultJson["jobId"]);
            requestAndDisplayRoutes(resultJson["jobId"]);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
        });
}

function clearCalculateTab() {
    if ($("#calculate-tab-content").hasClass("active")) {
        $("#railroad-table-tab").tab("show");
    }

    var routesCanvas = $("#routes-canvas").get(0);
    routesCanvas.getContext('2d').clearRect(0, 0, routesCanvas.width, routesCanvas.height);
}


function railroadRowReady(row) {
    return !isEmpty(row[0]) &&
        !isEmpty(row[1]) &&
        !isEmpty(row[2]) &&
        (!row[2].includes(chicago) || !isEmpty(row[3]));
}

function railroadsTableReady() {
    var railroadsTableData = getRailroadsAsTable();

    return railroadsTableData.length >= 1 &&
        railroadsTableData.some(railroadRowReady);
}

function readyToSelectRailroad() {
    return railroadsTableReady();
}

function readyToCalculate() {
    return readyToSelectRailroad() &&
        railroadSelected();
}

function railroadSelected() {
    return getRailroads().includes($("#calculate-dropdown").attr("data-selected"));
}