var tilesTable = [];

function getTileAtCoord(coord) {
    var rowNum = findRowByCoord(coord);
    return rowNum === null ? null : tilesTable[rowNum];
}

function getTilesAsTable() {
    return tilesTable.slice();
}

function getTilesHeaders() {
    return {{ placed_tiles_colnames | tojson | safe  }};
}

function updateLocalStoragePlacedTiles() {
    setLocalStorage("placedTilesTable",
            getTilesAsTable().filter(row => !row.every(isEmpty)).map(row => row.map(value => value.toString())));
}

function loadFromLocalStoragePlacedTiles() {
    var rawPlacedTilesTable = getLocalStorage("placedTilesTable");
    if (rawPlacedTilesTable !== undefined) {
        return importTiles(prepareTilesForExport(rawPlacedTilesTable));
    }
    return Promise.resolve();
}

function findNextEmptyRow() {
    for (row = 0; row < tilesTable.length; row++) {
        if (tilesTable[row].every(cell => isEmpty(cell))) {
            return row;
        }
    }
    return null;
}

function findRowByCoord(coord) {
    for (row = 0; row < tilesTable.length; row++) {
        if (tilesTable[row][0] === coord) {
            return row;
        }
    }
    return null;
}

function placeTile(coord, tileId, orientation) {
    tileId = tileId.toString();
    orientation = orientation.toString();

    if (tilesTable.some(row => row[0] === coord && row[1] === tileId && row[2] === orientation)) {
        return;
    }

    var row = findRowByCoord(coord);
    if (row === null) {
        row = findNextEmptyRow();
    }
    if (row === null) {
        tilesTable.push([coord, tileId, orientation]);
    } else {
        tilesTable[row] = [coord, tileId, orientation];
    }

    updateLocalStoragePlacedTiles();
}

function removeTile(coord) {
    var row;
    while ((row = findRowByCoord(coord)) !== null) {
        tilesTable.splice(row, 1);
    }

    updateLocalStoragePlacedTiles();
}

function getTileInfo(coord, successCallback, failureCallback) {
    var tile = tilesTable.find(row => row[0] === coord);
    var tileId = isEmpty(tile) ? null : tile[1];
    var orientation = isEmpty(tile) ? null : tile[2];
    var phase = $("#board-phase").text();
    $.get("{{ url_for('.board_space_info') }}", {coord: coord, tileId: tileId, orientation: orientation, phase: phase})
        .done(function(response) {
            var info = response["info"];
            info["orientation"] = isEmpty(tile) ? null : tile[2];
            if (!isEmpty(successCallback)) {
                successCallback(info);
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.error(`Failed to get tile info for ${coord}.`);
            if (!isEmpty(failureCallback)) {
                failureCallback(jqXHR, textStatus, errorThrown);
            }
        });
}

function ifSpaceOverloaded(coord, overloadedCallback, notOverloadedCallback) {
    var phase = $("#board-phase").text();
    var stations = getRailroadsAtCoord(coord, phase)
            .concat(getRemovedRailroadsAtCoord(coord, phase))
            .map(railroadRow => railroadRow[0]);
    getTileInfo(coord,
        tileInfo => {
            var capacity = tileInfo["capacity"];
            var stationCount = stations.length;

            var unclaimedReservations =
                tileInfo["home-to"]
                    .filter(railroad => !stations.includes(railroad))
                    .concat(tileInfo["reserved-for"]
                        .filter(railroad => !getRemovedRailroads().includes(railroad)
                            && !getClosedRailroads().includes(railroad)
                            && !stations.includes(railroad)));

            var callbackArgs = [capacity, stations, unclaimedReservations, tileInfo["home-to"], tileInfo["reserved-for"]];
            if (stationCount > capacity - unclaimedReservations.length) {
                if (!isEmpty(overloadedCallback)) {
                    overloadedCallback(...callbackArgs);
                }
            } else {
                if (!isEmpty(notOverloadedCallback)) {
                    notOverloadedCallback(...callbackArgs);
                }
            }
        });
}